# DataFrame Basics Exercise

## Part 1
* Use pandas to read the `bestsellers` dataset into a DataFrame 
* Once you've done that, use Pandas to figure out how many rows and columns the DF has
* Inspect the first 5 rows
* Inspect the first 19 rows
* Inspect the last 5 rows
* Inspect the last 2 rows 
* Which columns (if any) are missing values?
* What datatype did Pandas assign to "User Rating"?
* How many integer columns are in the DataFrame?

In [4]:
import pandas as pd
bestsellers = pd.read_csv("bestsellers.csv")
bestsellers

                                                  Name  ...        Genre
0                        10-Day Green Smoothie Cleanse  ...  Non Fiction
1                                    11/22/63: A Novel  ...      Fiction
2              12 Rules for Life: An Antidote to Chaos  ...  Non Fiction
3                               1984 (Signet Classics)  ...      Fiction
4    5,000 Awesome Facts (About Everything!) (Natio...  ...  Non Fiction
..                                                 ...  ...          ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)  ...      Fiction
546  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
547  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
548  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
549  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction

[550 rows x 7 columns]

In [5]:
bestsellers.shape

(550, 7)

In [6]:
bestsellers.head(5)

                                                Name  ...        Genre
0                      10-Day Green Smoothie Cleanse  ...  Non Fiction
1                                  11/22/63: A Novel  ...      Fiction
2            12 Rules for Life: An Antidote to Chaos  ...  Non Fiction
3                             1984 (Signet Classics)  ...      Fiction
4  5,000 Awesome Facts (About Everything!) (Natio...  ...  Non Fiction

[5 rows x 7 columns]

In [7]:
bestsellers.head(19)

                                                 Name  ...        Genre
0                       10-Day Green Smoothie Cleanse  ...  Non Fiction
1                                   11/22/63: A Novel  ...      Fiction
2             12 Rules for Life: An Antidote to Chaos  ...  Non Fiction
3                              1984 (Signet Classics)  ...      Fiction
4   5,000 Awesome Facts (About Everything!) (Natio...  ...  Non Fiction
5       A Dance with Dragons (A Song of Ice and Fire)  ...      Fiction
6   A Game of Thrones / A Clash of Kings / A Storm...  ...      Fiction
7                      A Gentleman in Moscow: A Novel  ...      Fiction
8       A Higher Loyalty: Truth, Lies, and Leadership  ...  Non Fiction
9                           A Man Called Ove: A Novel  ...      Fiction
10                          A Man Called Ove: A Novel  ...      Fiction
11  A Patriot's History of the United States: From...  ...  Non Fiction
12                            A Stolen Life: A Memoir  ...  Non Fiction
13                   A Wrinkle in Time (Time Quintet)  ...      Fiction
14  Act Like a Lady, Think Like a Man: What Men Re...  ...  Non Fiction
15  Adult Coloring Book Designs: Stress Relief Col...  ...  Non Fiction
16  Adult Coloring Book: Stress Relieving Animal D...  ...  Non Fiction
17     Adult Coloring Book: Stress Relieving Patterns  ...  Non Fiction
18  Adult Coloring Books: A Coloring Book for Adul...  ...  Non Fiction

[19 rows x 7 columns]

In [8]:
bestsellers.tail(5)

                                                  Name  ...        Genre
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)  ...      Fiction
546  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
547  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
548  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
549  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction

[5 rows x 7 columns]

In [9]:
bestsellers.tail(2)

                                                  Name  ...        Genre
548  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction
549  You Are a Badass: How to Stop Doubting Your Gr...  ...  Non Fiction

[2 rows x 7 columns]

In [13]:
bestsellers.info()
# No columns missing values. Can also use bestsellers.isna().values.any() to check if False
# float64 assigned to "User Rating"
# 0 integer columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

## Part 2

* The `mount_everest_deaths` dataset has its own index column provided in the dataset.  When importing it, use the existing index column.
* Which columns have zero null values?
* Which column has the most null values?

In [17]:
deaths = pd.read_csv("mount_everest_deaths.csv", index_col=0)
deaths

                       Name  ...                  Location
No.                          ...
1                     Dorje  ...           Below North Col
2                    Lhakpa  ...           Below North Col
3                     Norbu  ...           Below North Col
4                    Pasang  ...           Below North Col
5                      Pema  ...           Below North Col
..                      ...  ...                       ...
306  Christopher Jon Kulish  ...                 South Col
307               Puwei Liu  ...         Near South Summit
308           Abdul Waraich  ...         Near South Summit
309      Pemba Tashi Sherpa  ...  Between Camp I & Camp II
310      Wong Dorchi Sherpa  ...            near South Col

[310 rows x 7 columns]

In [19]:
deaths.info()
# Name, Date have zero null values
# Age has most null values of 150

<class 'pandas.core.frame.DataFrame'>
Int64Index: 310 entries, 1 to 310
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            310 non-null    object
 1   Date            310 non-null    object
 2   Age             160 non-null    float64
 3   Expedition      271 non-null    object
 4   Nationality     309 non-null    object
 5   Cause of death  296 non-null    object
 6   Location        291 non-null    object
dtypes: float64(1), object(6)
memory usage: 19.4+ KB

## Part 3
* Import the `movie_titles.tsv` dataset
* You'll notice that it is not comma-separated! You'll need to tell `read_csv` what the separator actually is.
* The dataset does not come with its own column headings, so you'll need to provide those as well.  The columns are, in order, `id`, `title`, `year`, `imdb_rating`, `imdb_id`, and `genres`
* Once you have successfully read the dataset into a DataFrame, inspect the last 7 rows!

In [38]:
titles = pd.read_csv("movie_titles.tsv", sep="\t", names=["id", "title", "year", "imdb_rating", "imdb_id", "genres"])
titles

       id  ...                                             genres
0      m0  ...                               ['comedy' 'romance']
1      m1  ...        ['adventure' 'biography' 'drama' 'history']
2      m2  ...              ['action' 'crime' 'drama' 'thriller']
3      m3  ...                   ['adventure' 'mystery' 'sci-fi']
4      m4  ...     ['action' 'comedy' 'crime' 'drama' 'thriller']
..    ...  ...                                                ...
612  m612  ...  ['action' 'crime' 'fantasy' 'mystery' 'sci-fi'...
613  m613  ...                     ['action' 'adventure' 'crime']
614  m614  ...                                ['action' 'sci-fi']
615  m615  ...                                ['comedy' 'sci-fi']
616  m616  ...     ['action' 'adventure' 'drama' 'history' 'war']

[617 rows x 6 columns]

In [36]:
titles.tail(7)

                        title  ...                                             genres
id                             ...
m610         the wizard of oz  ...         ['adventure' 'family' 'fantasy' 'musical']
m611  the world is not enough  ...                  ['action' 'adventure' 'thriller']
m612                 watchmen  ...  ['action' 'crime' 'fantasy' 'mystery' 'sci-fi'...
m613                      xxx  ...                     ['action' 'adventure' 'crime']
m614                    x-men  ...                                ['action' 'sci-fi']
m615       young frankenstein  ...                                ['comedy' 'sci-fi']
m616                zulu dawn  ...     ['action' 'adventure' 'drama' 'history' 'war']

[7 rows x 5 columns]